body {
	text-align: center ;
	font-size: 14pt;
	color: #FFFFFF;
	background-image: url('star.gif');
}

h2 {
	color: #04A9D3
}

.sylphyn {
	width: 200px;
}

.print1 {
	width: 500px;
}

.exemplo1 {
	width: 1000px;
}
