body {
	text-align: center;
        font-size: 14pt;	
	color: #FFFFFF;
	background-image: url('star.gif');
}

h2 {
	color:#04A9D3;

}

.luke {
	width: 200px;
}

.kenny {
	width: 200px;
}

.logo {
	width: 200px;
}
